{% include 'header.html.twig' %}
<script src="/js/controlbtns.js"></script>
<div class="row">
    <div class="col-md-12">
        {% if contentData is defined %}
            {{ contentData|raw }}
            <br />
        {% endif %}
        <section id="productForm">
            <form method="post" class="form-horizontal" role="form" enctype = "multipart/form-data">
                <input type="hidden" id="categoryid" name="categoryid" value="1">
                <div class="form-group">
                    <label class="col-md-3 control-label" for="productname">Наименование товара</label>
                    <div class="col-md-9">
                        <textarea class="form-control multi-line" rows="3" name="productname" id="productname" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="tabindex">Порядок следования</label>
                    <div class="col-md-9">
                        <input type="number" name="tabindex" class="form-control" id="tabindex" placeholder="Порядок следования" value = "1">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="unit">Единица измерения</label>
                    <div class="col-md-9">
                        <input type="text" name="unit" class="form-control" id="unit" placeholder="Единица измерения">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="pricewonds">Цена по предоплате без НДС, руб.</label>
                    <div class="col-md-9">
                        <input type="text" name="pricewonds" class="form-control" id="pricewonds" placeholder="Цена по предоплате без НДС" value = "123.45">
                        <p class="help-block">* дробную часть цены вводите через точку.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="price">Цена по предоплате с НДС, руб.</label>
                    <div class="col-md-9">
                        <input type="text" name="price" class="form-control" id="price" placeholder="Цена по предоплате с НДС" value = "123.45">
                        <p class="help-block">* дробную часть цены вводите через точку.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="descr">Описание товара, можно html</label>
                    <div class="col-md-9">
                        <div style="padding-bottom:5px;">
                            <input type="button" value="Заголовок" onclick="insert_h3('descr')" title="Вставить заголовок" />
                            <input type="button" value="Ссылка" onclick="insert_Link('descr')" title="Вставить ссылку" />
                            <input type="button" value="Картинка" onclick="insert_Img('descr')" title="Вставить картинку" />
                            <input type="button" value="Строка жирным шрифтом" onclick="insert_Strong('descr')" title="Вставить строку выделенную жирным шрифтом" />
                            <input type="button" value="Перенос строки" onclick="insert_Br('descr')" title="Вставить перенос строки" />
                            <input type="button" value="Разделитель" onclick="insert_Hr('descr')" title="Вставить разделительную линию" />
                            <input type="button" value="Отступ" onclick="insert_4p('descr')" title="Вставить отступ строки" />
                        </div>
                        <textarea class = "form-control multi-line" rows = "12" name="descr" id="descr"></textarea>
                        <p class="help-block">* введите описание товара в HTML-формате, либо в виде простого текста.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="htmlpagetitle">Заголовок страницы товара</label>
                    <div class="col-md-9">
                        <input type="text" name="htmlpagetitle" class="form-control" id="htmlpagetitle" placeholder="Заголовок страницы товара" value=" | Купить, цена, описание">
                        <p class="help-block">* введите максимально краткий заголовок страницы товара (не более 10 слов).</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="htmlmetadescr">Описание страницы товара</label>
                    <div class="col-md-9">
                        <textarea class = "form-control multi-line" rows = "3" name="htmlmetadescr" id="htmlmetadescr"></textarea>
                        <p class="help-block">* введите максимально краткое описание страницы товара.</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="htmlmetakeywords">Список ключевых слов</label>
                    <div class="col-md-9">
                        <textarea class = "form-control multi-line" rows = "3" name="htmlmetakeywords" id="htmlmetakeywords"></textarea>
                        <p class="help-block">* введите максимально краткий список ключевых слов, по которым поисковые машины будут идентифицировать страницу товара.</p>
                    </div>
                </div>
                <p>&nbsp;</p>
                <div class="form-group">
                    <label class="col-md-3 control-label">Главное изображение товара</label>
                    <div class="col-md-9">
                        <input type="file" name="uploadpic1" accept=".jpg, .jpeg, .png, .gif" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Дополнительное изображение # 1</label>
                    <div class="col-md-9">
                        <input type="file" name="uploadpic2" accept=".jpg, .jpeg, .png, .gif" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Дополнительное изображение # 2</label>
                    <div class="col-md-9">
                        <input type="file" name="uploadpic3" accept=".jpg, .jpeg, .png, .gif" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Дополнительное изображение # 3</label>
                    <div class="col-md-9">
                        <input type="file" name="uploadpic4" accept=".jpg, .jpeg, .png, .gif" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Дополнительное изображение # 4</label>
                    <div class="col-md-9">
                        <input type="file" name="uploadpic5" accept=".jpg, .jpeg, .png, .gif" />
                    </div>
                    <p class="help-block">* загружайте изображения в формате jpg, jpeg, gif, png</p>
                </div>
                <hr />
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Сохранить" class="btn btn-xs-sm-md btn-success" role="button" title="Сохранить товар">
                        <a href="" onclick="JavaScript:window.history.back(1); return false;" role="button" class="btn btn-xs-sm-md btn-default pull-right" title="Возврат к списку товаров">
                            Отмена
                        </a>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
{% include 'footer.html.twig' %}