{% include 'header.html.twig' %}
<h2>Общество с ограниченной ответственностью "ЛАГОС"</h2>
<p>&nbsp;&nbsp;&nbsp;<b>ООО «ЛАГОС»</b>, организованное в 1993г., занимается производством всех типов и марок асфальтобетонных смесей,
битумных эмульсий и мастик для дорожно-строительного комплекса г.Москвы и Московской области. Мы одни из первых в стране, начали выпуск дорожных эмульсий.
Вскоре мы начали предоставлять услуги по розливу битумных эмульсий. С 2001 года ООО «ЛАГОС» начал производство асфальтобетонных смесей.
С 2016 года мы начали выпуск <a href="/coldasphalt" title="Холодный асфальт" role="button">
<b>холодного асфальта</b></a>. Популярной продукции, для ямочного ремонта дорожного полотна.</p>
<div class="text-center" style="margin:0;padding:10px 0 0 0;">
    <a href="/images/about/lagoc-sert.jpg">
        <img data-src="holder.js/120x90" class="img-thumbnail img-center" src="/images/about/lagoc-sert.jpg" width="500" />
    </a>
</div>
<h3>Почему вы выберете нас?</h3>
<p>&nbsp;&nbsp;&nbsp;Современное техническое оснащение, высококвалифицированный кадровый состав и отлаженная логистика позволяют нашей компании с
высоким качеством и в нормативные сроки выполнять для вас свои договорные обязательства.</p>
<p>В настоящий момент в структуру предприятия входят  асфальтобетонный завод  «Teltomat-160», установки по производству анионоактивной битумной эмульсии
«Massenza Matic 3500», катионоактивной эмульсии «Comap», оборудование для производства битумных мастик, парк специализированного автотранспорта и
технологической техники, собственная производственно-технологическая лаборатория.</p>
<p>&nbsp;&nbsp;&nbsp;Основные наши партнеры это дорожно-строительные организации Москвы и области. Среди которых «Автомобильные дороги» на объектах
УДС г.Москвы: АО «Сефко», ООО «Роуд Групп», ООО «СитиСтройСервис», ООО «ИнПрофСтрой», ООО ПСФ «Ремдорсервис» и др.</p>
<p>ООО «ЛАГОС» является членом Ассоциации дорожников г. Москвы, учредителем и членом некоммерческого партнерства НП СРО «СОЮЗДОРСТРОЙ»</p>
<h3>Почему вы купите у нас?</h3>
<p>&nbsp;&nbsp;&nbsp;Приобрести нашу продукцию и услуги вы можете в Головном офисе по адресу <b>Московская область, Люберецкий район, п. Красково,
2-ая Заводская ул., д. 2А</b>, тут же расположено наше производство.</p>
<p>Актуальную информацию по номенклатуре продукции, видам услуг и ценам вы узнаете на соответствующих разделах нашего сайта или по
<a href="/contact" title="Контакты ООО ЛАГОС" role="button"><b>телефонам</b></a>.</p>
<p>Мы можем доставить вам купленную у нас продукцию, на место производства работ. Произвести работы по обработке поверхности между слоями
асфальтобетона. Специально для вас, наша лаборатория, непрерывно проверяет качество, всей выпускаемой продукции.</p>
<p>Приобретая нашу продукцию вы будете уверены в её высоком качестве, т.к. все выпускаемые виды и типы продукции сертифицированы.</p>
<p><br /><img data-src="holder.js/800x600" class="img-responsive img-center" style="height:800px; width:600px;" src="/images/about/about.jpg"></p>
{% include 'footer.html.twig' %}