{% include 'header.html.twig' %}
<div class="text-center page-info">
    <span>Страница 1 из 5</span>
</div>
<ul class="container-fluid content-item-list news-list">
        <li class="content-item news-item">
            <p class="item-name news-date"><strong>27.12.2021</strong></p>
            <p class="news-title">&nbsp;&nbsp;&nbsp;Поздравляем с наступающим Новым 2022 годом!!!</p>
            <a class="news-detail" href="/news" role="button" title="Подробнее">Подробнее &#187;</a>
        </li>
        <li class="content-item news-item">
            <p class="item-name news-date"><strong>15.12.2021</strong></p>
            <p class="news-title">&nbsp;&nbsp;&nbsp;Уважаемые клиенты и гости нашего сайта!
С 15 декабря 2021 года завод закрывается на планово-профилактические работы!
До новых встреч в Новом году!</p>
            <a class="news-detail" href="/news" role="button" title="Подробнее">Подробнее &#187;</a>
        </li>
        <li class="content-item news-item">
            <p class="item-name news-date"><strong>15.10.2021</strong></p>
            <p class="news-title">&nbsp;&nbsp;&nbsp; Уважаемые клиенты и гости нашего сайта! Цены на нашу продукцию меняются с 18 октября 2021г. С новыми ценами Вы можете ознакомиться уже сейчас в разделе "Продукция"!</p>
            <a class="news-detail" href="/news" role="button" title="Подробнее">Подробнее &#187;</a>
        </li>
        <li class="content-item news-item">
            <p class="item-name news-date"><strong>16.09.2021</strong></p>
            <p class="news-title">&nbsp;&nbsp;&nbsp;Уважаемые клиенты и гости нашего сайта!
Цены на нашу продукцию меняются с 20 сентября 2021г.
С новыми ценами Вы можете ознакомиться уже сейчас в разделе продукция или загрузив наш прайс-лист</p>
            <a class="news-detail" href="/news" role="button" title="Подробнее">Подробнее &#187;</a>
        </li>
        <li class="content-item news-item">
            <p class="item-name news-date"><strong>08.07.2021</strong></p>
            <p class="news-title">&nbsp;&nbsp;&nbsp;Уважаемые клиенты и гости нашего сайта!
с 12 июля 2021 г. цены на продукцию меняются!
С новыми ценами вы можете ознакомиться в разделе "Продукция"!</p>
            <a class="news-detail" href="/news" role="button" title="Подробнее">Подробнее &#187;</a>
        </li>
        <li class="content-item news-item">
            <p class="item-name news-date"><strong>23.06.2021</strong></p>
            <p class="news-title">&nbsp;&nbsp;&nbsp;Уважаемые клиенты и гости нашего сайта!
Цены на продукцию увеличиваются с 28 июня 2021 г.!
С новыми ценами вы можете ознакомиться в разделе "Продукция"</p>
            <a class="news-detail" href="/news" role="button" title="Подробнее">Подробнее &#187;</a>
        </li>
        <li class="content-item news-item">
            <p class="item-name news-date"><strong>26.05.2021</strong></p>
            <p class="news-title">&nbsp;&nbsp;&nbsp;Уважаемые клиенты и гости нашего сайта!
С 1 июня 2021 года цены на продукцию меняются!
С новыми ценами вы можете ознакомиться в разделе "Продукция"</p>
            <a class="news-detail" href="/news" role="button" title="Подробнее">Подробнее &#187;</a>
        </li>
        <li class="content-item news-item">
            <p class="item-name news-date"><strong>30.04.2021</strong></p>
            <p class="news-title">&nbsp;&nbsp;&nbsp;Уважаемые клиенты и гости нашего сайта! Информируем Вас, что с 11 мая 2021 года цены на продукцию меняются! С новыми ценами Вы можете ознакомиться в разделе "Продукция"!</p>
            <a class="news-detail" href="/news" role="button" title="Подробнее">Подробнее &#187;</a>
        </li>
        <li class="content-item news-item">
            <p class="item-name news-date"><strong>23.04.2021</strong></p>
            <p class="news-title">&nbsp;&nbsp;&nbsp;Уважаемые клиенты и гости нашего сайта! Информируем Вас, что с 26 апреля 2021 года цены на продукцию меняются!
Ознакомиться с новыми ценами можно в разделе "Продукция"</p>
            <a class="news-detail" href="/news" role="button" title="Подробнее">Подробнее &#187;</a>
        </li>
        <li class="content-item news-item">
            <p class="item-name news-date"><strong>15.04.2021</strong></p>
            <p class="news-title">&nbsp;&nbsp;&nbsp;Уважаемые клиенты и гости нашего сайта!
Цены на холодную асфальтобетонную смесь изменились!</p>
            <a class="news-detail" href="/news" role="button" title="Подробнее">Подробнее &#187;</a>
        </li>
</ul>
<div class="col-md-12 text-center container-fluid clearfix page-navigator"><ul class="pagination"><li class="disabled"><a aria_label="First" href="#" rel="first" role="button">&laquo;</a></li>
<li class="disabled"><a aria_label="Previous" href="#" rel="previous" role="button">&lsaquo;</a></li><li class="active">
<a href="/news" role="button">1</a></li><li><a href="/news" role="button">2</a></li><li><a href="/news" role="button">3</a>
</li><li><a href="/news" role="button">4</a></li><li><a href="/news" role="button">5</a></li><li><a aria-label="Next" href="/news" rel="next" role="button">›
</a></li><li><a aria-label="Last" href="/news" rel="last" role="button">&#187;</a></li></ul></div>
{% include 'footer.html.twig' %}