{% include 'header.html.twig' %}
<p>
    Уважаемые клиенты, cкачать наш прайс-лист вы можете по ссылке:<br /><br />
    <strong>
        <a href="/pricelists/lagocprice.doc" title="Скачать файл" rel="download" role="button" download>
            <span class="glyphicon glyphicon-download-alt"></span>&nbsp;&nbsp;lagocprice.doc
        </a>
    </strong>
</p>
{% include 'footer.html.twig' %}