<meta charset="utf-8">
<div class="img-form-wrap">
     <form action="/server/server.php" method="post" enctype="multipart/form-data" class="img-form">
          <p>Выберите файл</p>
          <input type="file" name="photo" accept=".jpg, .jpeg, .png, .gif"><br><br>
          <input type="submit" value="Загрузить">
     </form>
</div>