<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="author" content="Dm Karr" />
	<link href="css/styles.css" rel="stylesheet"/>
	<title>{{ pageTitle }}</title>
</head>
<body>
    <header>
        <p>Урок 3. Шаблонизаторы</p>
    </header>
    <main class="main-content">
        <h1 class="h1">{{ pageHeading }}</h1>
        {% if isMain %}
            {% include 'image_list.html.twig' %}
        {% endif %}
    </main>
    <footer>
        <p>Copyright &copy; {{ footerYear }}  <em>Photogallery</em> &middot; Design: Dm Karr</p>
    </footer>
</body>
</html>